doctype:html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width initial-scale=1.0')
        title Useful Links
        link(rel="apple-touch-icon" sizes="180x180" href=require("./../img/favicon/apple-touch-icon.png"))
        link(rel="icon" type="image/png" sizes="32x32" href=require("./../img/favicon/favicon-32x32.png"))
        link(rel="icon" type="image/png" sizes="16x16" href=require("./../img/favicon/favicon-16x16.png"))
        link(rel="mask-icon" href=require("./../img/favicon/safari-pinned-tab.svg") color="#2caace")
        style.
            html {
                background-color: rgb(13, 15, 17)
            }
            body {
                opacity: 0
            }
    body
        ul.links
            li.links__elem
                a.links__link(href="https://getmdl.io" target='_blank'
                            data-toggle="popover" title="MDL" 
                            data-content="Различные элементы и компоненты на HTML, CSS и чистом JS") Material Design Lite
            li.links__elem
                a.links__link(href="https://daneden.github.io/animate.css/" target='_blank'
                            data-toggle="popover" title="Animate CSS" 
                            data-content="Простые анимации на CSS") Animate.css
            li.links__elem
                a.links__link(href="https://fontawesome.com/" target='_blank'
                            data-toggle="popover" title="Font Awesome" 
                            data-content="Font Awesome иконки") Font Awesome Icons
            li.links__elem
                a.links__link(href="http://color.romanuke.com/" target='_blank'
                            data-toggle="popover" title="In Color Balance" 
                            data-content="Различные сочетания цветов") In Color Balance
            li.links__elem
                a.links__link(href="https://css-tricks.com/the-shapes-of-css/" target='_blank'
                            data-toggle="popover" title="CSS Shapes" 
                            data-content="Различные фигуры на чистом CSS") CSS Shapes
            li.links__elem
                a.links__link(href="https://dev.w3.org/html5/html-author/charref" target='_blank'
                            data-toggle="popover" title="Charset" 
                            data-content="HTML символы") Character Entity Reference Chart
            li.links__elem
                a.links__link(href="https://github.com/getify/You-Dont-Know-JS" target='_blank'
                            data-toggle="popover" title="YouDontKnowJS" 
                            data-content="Хорошая книга по JS") You-Dont-Know-JS
            li.links__elem
                a.links__link(href="http://velocityjs.org/" target='_blank'
                            data-toggle="popover" title="VelocityJS" 
                            data-content="Библиотека для анимаций") Velocity JS
            li.links__elem
                a.links__link(href="https://momentjs.com/" target='_blank'
                            data-toggle="popover" title="MomentJS" 
                            data-content="Библиотека JS, все о дате, времени") Moment JS
            li.links__elem
                a.links__link(href="https://github.com/noeldelgado/gemini-scrollbar" target='_blank'
                            data-toggle="popover" title="Gemini scrollbar" 
                            data-content="Кастомный скроллбар") Gemini Scrollbar
            li.links__elem
                a.links__link(href="https://www.npmjs.com/package/validator" target='_blank' 
                            data-toggle="popover" title="ValidatorJS" 
                            data-content="Валидатор для сервера на Node.js") Validator JS
            li.links__elem
                a.links__link(href="https://expressjs.com/" target='_blank'
                            data-toggle="popover" title="ExpressJS" 
                            data-content="Библиотека для создания сервера на Node.js") Express JS
            li.links__elem
                a.links__link(href="https://www.npmjs.com/package/body-parser" target='_blank' 
                            data-toggle="popover" title="BodyParser" 
                            data-content="Парсим тело запроса на сервере") Node.js Body-parser 
            li.links__elem
                a.links__link(href="https://getbootstrap.com/" target='_blank' 
                            data-toggle="popover" title="Bootstrap" 
                            data-content="Восхитительный бутстрап") Bootstrap 4
            li.links__elem
                a.links__link(href="https://dixonandmoe.com/rellax/" target='_blank' 
                            data-toggle="popover" title="Rellax" 
                            data-content="Parallax Library") Rellax
            li.links__elem
                a.links__link(href="https://www.chartjs.org/" target='_blank' 
                            data-toggle="popover" title="ChartJS" 
                            data-content="Анимированные графики") ChartJS
            li.links__elem
                a.links__link(href="http://snapsvg.io/" target='_blank' 
                            data-toggle="popover" title="SnapSVG" 
                            data-content="Рисование и анимация SVG") SnapSVG
