doctype:html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width initial-scale=1.0')
        title My Projects
        link(rel="apple-touch-icon" sizes="180x180" href=require("./../img/favicon/apple-touch-icon.png"))
        link(rel="icon" type="image/png" sizes="32x32" href=require("./../img/favicon/favicon-32x32.png"))
        link(rel="icon" type="image/png" sizes="16x16" href=require("./../img/favicon/favicon-16x16.png"))
        link(rel="mask-icon" href=require("./../img/favicon/safari-pinned-tab.svg") color="#2caace")
        style.
            html {
                background-color: #ffb62a
            }
            body {
                opacity: 0
            }
    body.container
        .container__html
            h2.html__header HTML
            .html__box
                ul.html__list
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/tab-tracker.png"), alt="tab trackere")
                        a.html__link(href="https://lit-ocean-93722.herokuapp.com" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/beauty.png"), alt="beauty page")
                        a.html__link(href="http://tier4ik.github.io/beauty-salon" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/resume.png"), alt="portfolio page")
                        a.html__link(href="http://tier4ik.github.io/resume" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/agency.png"), alt="agency page")
                        a.html__link(href="http://tier4ik.github.io/agency" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/hotels.png"), alt="hotels page")
                        a.html__link(href="http://tier4ik.github.io/hotels" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/pricing.png"), alt="pricing page")
                        a.html__link(href="http://tier4ik.github.io/pricing" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/workwork.png"), alt="workwork page")
                        a.html__link(href="http://tier4ik.github.io/WorkWork" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/tinyone.png"), alt="tinyone page")
                        a.html__link(href="http://tier4ik.github.io/tinyone" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/bookshop.png"), alt="bookshop page")
                        a.html__link(href="http://tier4ik.github.io/bookshop" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/blackandwhite.png"), alt="blackandwhite page")
                        a.html__link(href="http://tier4ik.github.io/blackandwhite" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/photo-coll.png"), alt="photo-collection page")
                        a.html__link(href="http://tier4ik.github.io/photo-collection" target="_blank") Go
                    li.html__elem
                        img.html__img(src=require("./../img/pg_images/design.png"), alt="design page")
                        a.html__link(href="http://tier4ik.github.io/design" target="_blank") Go
        .container__animation
            a.back(href="/") BACK
            h2.animation__header Animation
            .animation__box
                ul.animation__list
                    li.animation__elem
                        a.animation__link(href="http://tier4ik.github.io/snowflakes_machine" target="_blank") Go
                        img.animation__img(src=require("./../img/pg_images/snowflakes.png"), alt="snowflakes page")
                    li.animation__elem
                        a.animation__link(href="http://tier4ik.github.io/matrix_digital_rain" target="_blank") Go
                        img.animation__img(src=require("./../img/pg_images/matrix.png"), alt="matrix_digital_rain page")
                    li.animation__elem
                        a.animation__link(href="http://tier4ik.github.io/balls" target="_blank") Go
                        img.animation__img(src=require("./../img/pg_images/balls.png"), alt="balls page")
            